<ion-header>
  <ion-toolbar>
    <ion-title>saudemental</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form #formulario="ngForm" (ngSubmit)="enviar(formulario)">
          <!-- <form (ngSubmit)="logForm()"> -->
          <ion-item>

            <ion-label>Nome</ion-label>
            <ion-input type="text" name="nome" [(ngModel)]="Pessoa.nome"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>idade</ion-label>
            <ion-input type="number" name="idade" [(ngModel)]="Pessoa.idade"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Saúde Mental</ion-label>
            <ion-input type="text" name="saudeMental" [(ngModel)]="Pessoa.saudeMental"></ion-input>
          </ion-item>
          <ion-item>
            <ion-label>Raça/Cor</ion-label>
            <ion-input type="text" name="racaCor" [(ngModel)]="Pessoa.racaCor"></ion-input>
          </ion-item>
          <ion-button type="submit" color="primary" block>Criar Pessoa</ion-button>
          <!-- </form> -->
        </form>
      </ion-col>
    </ion-row>
    <ion-row>
      <form #formu="ngForm" (ngSubmit)="manda(formu)">
        <!-- <form (ngSubmit)="logForm()"> -->
        <ion-item>

          <ion-label>Id</ion-label>
          <ion-input type="text" name="id" [(ngModel)]="Pessoa.id"></ion-input>
        </ion-item>

        <ion-button type="submit" color="primary" block>Criar Pessoa</ion-button>
        <!-- </form> -->
      </form>

    </ion-row>
    <ion-row>
      <form #form="ngForm" (ngSubmit)="mandar(form)">
        <!-- <form (ngSubmit)="logForm()"> -->
        <ion-item>

          <ion-label>Id</ion-label>
          <ion-input type="text" name="racaCor" [(ngModel)]="Pessoa.racaCor"></ion-input>
        </ion-item>

        <ion-button type="submit" color="primary" block>Raca</ion-button>
        <!-- </form> -->
      </form>

    </ion-row>
  </ion-grid>
</ion-content>